<div class="container">
  <div class="row">
    <div class="col-11 mx-auto">
      <div class="row">
        <div class="col-4">
          <%= render "common", user: @user, book: @book %>
        </div>
        <div class="col-8">
          <div class="users">
            <h2 class="mt-4">Books</h2>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th colspan="2">Opinion</th>
                </tr>
              </thead>
              <% @user_books.each do |user_book| %>
              <tbody>
                <tr>
                  <td><%= image_tag @user.get_image(80,80) %></td>
                  <td>
                    <%= link_to book_show_path(user_book.id) do %>
                      <%= user_book.title %>
                    <% end %>
                  </td>
                  <td colspan="2"><%= user_book.body %></td>
                </tr>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>